@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
   Number of owners is @Model.Owners.ToArray().Length

    @foreach(var owner in Model.Owners)
    {
        <div>
            <span>@owner.Name</span>
            <span>@owner.Surname</span>
        </div>
    }

    @foreach (var owner in Model.NumberOfCars)
    {
        <div>
            <span>@owner.Name</span>
            <span>@owner.Surname</span>
            <span><strong>@owner.NumberOfCars</strong></span>
        </div>
    }
</div>
